@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="row" style="margin-top: 100px;">

    <div class="col-md-2">
        <div class="thumbnail" style="background-color: transparent;">
            <img class="img-rounded"  src="~/Images/introducao1.png" alt="...">
            <div class="caption">
                <h4>Encomendar</h4>
                <p>Click aqui para fazer uma nova encomenda</p>
                <p><a href="/Usf/Encomenda" class="btn btn-primary" role="button">OK</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="thumbnail" style="background-color: transparent;">
            <img class="img-rounded" src="~/Images/listagem1.png" alt="...">
            <div class="caption">
                <h4>Listagem</h4>
                <p>Obter listagem de produtos</p>
                <br />
                <p><a href="#" class="btn btn-primary" role="button">OK</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="thumbnail" style="background-color: transparent;">
            <img class="img-rounded" src="~/Images/procura1.png" alt="...">
            <div class="caption">
                <h4>Visualizar</h4>
                <p>Visualizar o histórico</p>
                <br /><br />
                <p><a href="#" class="btn btn-primary" role="button">OK</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="thumbnail" style="background-color: transparent;">
            <img class="img-rounded" src="~/Images/servicos.png" alt="...">
            <div class="caption">
                <h3>Serviços</h3>
                <p>Outros Serviços</p>
                <br /><br />
                <p><a href="#" class="btn btn-primary" role="button">OK</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail" style="background-color: transparent;">
            <img class="img-rounded" class="img-rounded"  src="~/Images/funcionamento1.png" alt="...">
            <div class="caption">
                <h4>Funcionamento dos serviços</h4>
                <p>Outros Serviços</p>
                <p><a href="#" class="btn btn-primary" role="button">OK</a></p>
            </div>
        </div>
    </div>

</div>
