<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <connectionStrings>
      <!--<add name="USF" 
           connectionString="Data Source=PAULO-PC\USF;Database=IMHU_USF;Integrated Security=SSPI" 
            providerName="System.Data.SqlClient"/>
      <add name="ACE"
           connectionString="Data Source=PAULO-PC\ACE;Database=IMHU_ACE;Integrated Security=SSPI"
           providerName="System.Data.SqlClient"/>
      <add name="ARS" 
           connectionString="Data Source=PAULO-PC\ARS;Database=IMHU_ARS;Integrated Security=SSPI" 
           providerName="System.Data.SqlClient"/>-->  
    </connectionStrings>
</configuration>
